li
    div.
        <strong>Address</strong>
        #{eee.address}
    div.
        <strong>Name</strong>
        #{eee.name}
    div.
        <strong>Symbol</strong>
        #{eee.symbol}
    div.
        <strong>Total</strong>
        #{eee.total}
    div.
        <strong>Owner</strong>
        #{eee.owner}
